*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 15px;
}

main>* {
	justify-content: center;

}

.container {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}
.icon-menu {
	display: none;
}

.row:before, .row:afetr {
    content: "";
    display: table;
    clear: both;
}
[class*="col-"]{
	float: left;
	min-height: 7px;
	padding: 12px;
	/*outline: 1px solid blue;*/
}



/* Definiendo los porcentajes de las columnas(100/12)* num-col */

 
 .col-1{width: 8.33333%;}
 .col-2{width: 16.666667%;}
 .col-3{width: 25%;}
 .col-4{width: 33.333333%;}
 .col-5{width: 41.6666667%;}
 .col-6{width: 50%;}
 .col-7{width: 58.333333%;}
 .col-8{width: 66.6666667%;}
 .col-9{width: 75%;}
 .col-10{width: 83.333333%;}
 .col-11{width: 91.6666667%;}
 .col-12{width: 100%;}


/* Definiendo el comportamiento con dispositivos mobiles*/
 @media all and (min-width: 770px){
 	.img {
	height: 200px;
	margin-left: 10% auto;
	width: 300px;
    }
    
 }

/*para una pantalla con minimo de 800 px y maximo 1199px*/
 @media only(min-width: 950px) and (max-width: 1199px) {
	 .img { 
	height: 200px;
	margin: 0 auto;
	width: 80%;
    }
}

/* para una pantalla movil con unmaximo de 769px*/
 @media all and (max-width: 769px) {
    button {
    	margin-left: 20%;
    }
    header{
    	height: 70px;
    }
    nav {
    	height: 30px;
    }
     /*que todas las clases col pasen al width 100%*/
 	 [class*="col-"]{
	width: 100%;
	padding: 0;
	border: 0;
    } 
    .row {
    	margin-top: 10px;
    }
    .icon-menu{
    	margin-left: 30px;
    	display: inline-block;
    }
    .img { 
	height: 300px;
	margin: 0 auto;
	min-width: 100%;
    }
    .ul {
	display: none;
    }
    
 }