body{
	font-family: sans-serif;
	font-size: 14pt;
}

nav {
	background-color: #343A40;
	color: white;
	min-height: 40px;
	width: 100%
}
nav>span {
	font-size: 14pt;
	font-weight: bolder;
	margin-left: 2%;
}
nav>ul {
	display: block;
}

nav>span {
	color: #a4b2b5;
}
nav>ul>li{
	color: #a4b2b5;
	display: inline-block;
    float: right;
    list-style: none;
    margin-left: 10%;
}
nav>ul>li:hover {
	color: white;
}

/*agrgando imagen al header*/
header {
	background-image: url("../assets/images/interiores.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color:  #795548; 
	height: 400px;
	min-height: 200px;
	width: 100%;

}
/*agregado estilos a los botones*/
section>button, section>div>button {
	background-color: #007BFF;
	border-radius: 15px;;
	color: white;
	font-size: 8pt;
	padding: 10px;
	width: 100px;

}

section>button:hover, section>div>button:hover {
	background-color: #2EBCE9;
}
/*aergregando estilo al footer*/
footer{
	background-color: #343A40;
	color: white;
	min-height: 50px;
	width: 100%;
}

footer>span, footer>p {
	padding-top: 20px;
	text-align: center;
}

p, h1, h2, h3 { text-align: center; }

/*ID*/
#c {
	padding-left: 10px;
}
#d {
	padding-right: 10px;
}
/*CLASES*/

.button {
	margin: left 15px;
}

.display {
	display: inline-block;
}
.img {
	height: 200px;
	margin-left: 10% auto;
	width: 300px;

}
.text {
	text-align: center;
	margin: 0 auto;
	vertical-align: center;
}