
body{
	font-family: sans-serif;
	font-size: 14pt;
    color: black;
} 
/* Estilos de fuente
    ont-family: 'Encode Sans Expanded', sans-serif; titulos

    font-family: 'Bellefair', serif; texto 
*/

nav {
	background-color: #343A40;
	color: white;
}
nav>span {
	font-size: 14pt;
	font-weight: bolder;
	margin-left: 2%;
}
nav>ul {
	display: inline-block;
}
nav>ul>li{
	color: #a4b2b5;
	display: inline-block;
    float: right;
    list-style: none;
    margin-left: 100px;
}
nav>ul>li:hover {
	color: white;
}

header {
	background-image: url("../assets/images/interiores.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
	height: 400px;
	width: 100%;

}
section>div>h2{
	font-family: 'Encode Sans Expanded',
}


section>button, section>div>button {
	background-color: #007BFF;
	border-radius: 15px;;
	color: white;
	font-size: 8pt;
	padding: 10px;

}

section>button:hover, section>div>button:hover {
	background-color: #2EBCE9;
}

footer{
	background-color: #343A40;
	color: white;
}

/*CLASES*/
.img {
	margin: auto;
	height: 200px;
	width: 300px;
}

.display {
	display: inline-block;
}