*{
  margin:0;
  border:0;
  padding: 0;
}

h1{
  font-family: sans-serif;
  color: white;
  text-align: center;
  vertical-align: center;
}
.sunset{
  background-attachment: fixed;
  background-image: url(../assets/images/dawn.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
}




/*Ponienda las medias Queries*/
@media  (min-width: 1200px) {
  body{background-color: blue;}
  .sunset{
  background-image: url(../assets/images/sunny-day.jpg);
  min-height: 700px;
  }
  
}



@media (min-width: 880px) and (max-width: 1199px){
  body{background-color: pink;}
  .sunset{
  background-image: url(../assets/images/night.jpg);
  min-height: 700px;
  }
  }
  



 

@media   (min-width: 765px) and (max-width: 979px) {
  body{background-color: yellow;}
   .sunset{
  background-image: url(../assets/images/night.jpg); 
  min-height: 500px;
  }
  }
  

@media  (max-width: 764px) {
   body{background-color: green;}
   .sunset{
  background-image: url(../assets/images/dawn.png);
  min-height: 400px;
  }
} 
    
 }