*{ 
box-sizing: border-box;
margin: 0;
padding: 0;
 }

 .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

 }

 .row:before, .row:hafter{
  content: "";
  display: table;
  clear: both;
 }
[.class*="col-"]{
  float: left;
  min-height: 7px;
  /*gutters*/
  padding: 12px;
}

 .col-12{width: 100%;}


.sunset{

  background-image: url(../assets/images/dawn.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-width: 100%;
  
}

img {
 margin-left: 30%;
}

.mobile1{
  display: block;
}



/*Ponienda las medias Queries*/
@media  (min-width: 1200px) {
  body{background-color: blue;}
  .sunset{
  background-image: url(../assets/images/sunny-day.jpg);  
  }
  [class*="col-"] {
    width: 100%;
  }
  .mobile1{
  display: none;
  }

}


@media (min-width: 880px) and (max-width: 1199px){
  body{background-color: pink;}
  .sunset{
  background-image: url(../assets/images/night.jpg);
  }
  [class*="col-"] {
    width: 100%;
  }
  .mobile1{
  display: block;
  }

  }
  



 

@media   (min-width: 765px) and (max-width: 979px) {
  body{background-color: yellow;}
   .sunset{
  background-image: url(../assets/images/night.jpg);
  
  }
  [class*="col-"] {
    width: 100%;
  }
   .mobile1{
  display: block;
   }
  }
  

@media  (max-width: 764px) {
   body{background-color: green;}
   .sunset{
  background-image: url(../assets/images/dawn.png);
  
  }
  [class*="col-"] {
    width: 100%;
  }
   .mobile1{
  display: block;
}

} 
    
 